language: node_js

node_js:
  - "8"

cache:
  directories:
    - "node_modules"

script:
  - npm run lint
  - npm run build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: dist
  target-branch: master
  on:
    branch: gh-pages 

branches:
  only:
    - master
