/*
 * @Author: gaodelong 
 * @Date: 2018-05-15 15:03:23 
 * @Last Modified by:   gaodelong 
 * @Last Modified time: 2018-05-15 15:03:23 
 */

.content .el-scrollbar__wrap {
    overflow: auto;
}
.el-carousel__container{
    // height: 220px;
    height: 180px;
}
.el-carousel__arrow {
  font-size: 34px !important;
}

